#addBtn
{
  background-color:  #ECEFF1;
}
#addSpan
{
  margin-left: 10px;
}
#singleBtn
{
  float: right;
  margin-right: 10px;
  background-color: #110109;
}
#quoteBtn
{
  border: 1px solid black;
  margin-top: 100px;
  margin-left: 100px;
  margin-right: 150px;
  margin-left: 80px;
  background-color: lightblue;
}
#sendButton
{
  background-color:  #E74C3C;
  font-weight: bold;
  font-size: 15px;
}

.modal-content
{
  margin-top: 20%;
}
.modal-header
{
  font-family: Gabriola;
  font-size: 60px;
  font-weight: bold;
  background-color: #110109;
  color: rgb(146, 143, 143);
  
  margin: 5px auto;
}
.modal-body
{
  font-family: Gabriola;
  font-weight: bold;
  font-size: 20px;
  color: rgb(146, 143, 143);
}
/* Set a style for all buttons */
button {
  /*background-color: #4CAF50;*/
  background-color: rgb(4, 54, 8);
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
}

button:hover {
  opacity:1;
}


.cancelbtn {
  padding: 14px 20px;
  background-color: rgb(31, 4, 2);
}

/* Float cancel and signup buttons and add an equal width */
.cancelbtn, .signupbtn {
  float: left;
  width: 50%;
}
/* Change styles for cancel button and signup button on extra small screens */
@media screen and (max-width: 300px) {
  .cancelbtn, .signupbtn {
    width: 100%;
  }
}
input[type=text], input[type=password] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
}

/* Add a background color when the inputs get focus */
input[type=text]:focus, input[type=password]:focus {
  background-color: #ddd;
  outline: none;
}
